.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
	padding: 10px;
  color: rgb(87, 150, 231);
}

.App-content {
	margin: 25px 25px 25px 25px;
	font-size: large;
	align-content: center;
	display: inline-block;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-button {
	background-color: rgb(130, 179, 228);
	font-size: large;
	border-radius: 10px;
	padding: 8px 15px 8px 15px;
	margin: 10px 10px 10px 10px;
}

.inValid {
	color: red;
}

button {
	background-color: rgb(197, 212, 226);
	border-radius: 6px;
	padding: 2px 4px 2px 4px;
	margin: 2px 4px 2px 4px;
}

.NewDictionary {
	margin: 30px;
}