
body {
	font-size: large;
}

.App {
	text-align: center;
	font-size: large;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
	padding: 10px;
  color: rgb(97, 219, 251);
}

.App-content {
	margin: 25px 40px 25px 40px;
	font-size: large;
	align-content: center;

	display: block;
}

.App-title {
	font-size: 1.5em;
	
}

.App-intro {
  font-size: large;
}

.App-button {
	background-color: rgb(97, 219, 251);
	border-radius: 10px;
	padding: 8px 15px 8px 15px;
	margin: 10px 10px 10px 10px;
	font-size: large;
}

.App-button-sml {
	background-color: rgb(103, 206, 231);
	border-radius: 10px;
	padding: 8px 15px 8px 15px;
	margin: 10px 10px 10px 10px;
	font-size: medium;
}

.App-button-row {
	background-color: rgb(212, 212, 212);
	border-radius: 10px;
	padding: 8px 15px 8px 15px;
	margin: 10px 10px 10px 10px;
	font-size: medium;
}

.App-table {
	margin-left:auto; 
	margin-right:auto;
	width: 80%;
}

td {
	padding: 5px;
}

.inValid {
	color: red;
}

button {
	background-color: rgb(197, 212, 226);
	border-radius: 6px;
	padding: 2px 4px 2px 4px;
	margin: 2px 4px 2px 4px;
}

input[type=text] {
	padding: 10px;
	margin: 2px;
	width: 90%;
	font-size: large;
}

.NewDictionary {
	margin: 30px;
}